body {
    /* o    verflow: hidden; */
}

.headline {
    text-align: center;
}

.main {
    overflow-y: scroll;
}

.pic {
    border-radius: 50%;
    float: left;

}

.txt {
    overflow: hidden;

}

.chat-container {
    border: 1px solid #ccc;
    padding: 10px;
    height: 700px;
    overflow-y: scroll;
}

.chat-box {
    display: flex;
    flex-direction: column;

    /* scroll-behavior: smooth; */
}

.message {
    padding: 8px 12px;
    border-radius: 8px;
    margin: 4px;
    max-width: 70%;
}

.received {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}